@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}

.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.text-center h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.0;
    color: #000000;
  }
  
  .text-center p {
    font-size: 1rem;
    color: #718096;
    margin-top: 0.5rem;
  }
  form {
    display: flex;
    align-items: center;
    background: #f7fafc;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input {
    padding: 0.75rem;
    border: none;
    border-radius: 0;
    outline: none;
  }
  
  button {
    transition: all 0.3s ease;
  }
  /* styles.css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem; /* equivalent to gap-6 */
  margin-top: 2.5rem; /* equivalent to mt-10 */
  margin-bottom: 4rem; /* equivalent to mb-16 */
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .grid-container {
    margin-left: 6rem; /* equivalent to xl:mx-24 */
    margin-right: 6rem;
  }
}

.no-blogs {
  color: #6b7280; /* equivalent to text-gray-500 */
  font-size: 1.125rem; /* equivalent to text-lg */
}
/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* h1 {
  animation: fadeIn 1s ease-in-out;
}

p {
  animation: fadeIn 1.2s ease-in-out;
}

form {
  animation: fadeIn 1.4s ease-in-out;
} */

/* 
.blog-content{
    padding: 36px 0;
}

.blog-content p{
    margin-bottom: 10px;
}
.blog-content b{
    margin-bottom: 10px;
    font-weight: 500;
}
.blog-content h1{
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
}
.blog-content h2{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
}
.blog-content h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
} */
